@charset "UTF-8";

@font-face {
    font-family: 'poppinsblack';
    src: url('components/fonts/poppins-black-webfont.woff2') format('woff2'),
        url('components/fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsbold';
    src: url('components/fonts/poppins-bold-webfont.woff2') format('woff2'),
        url('components/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinslight';
    src: url('components/fonts/poppins-light-webfont.woff2') format('woff2'),
        url('components/fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsmedium';
    src: url('components/fonts/poppins-medium-webfont.woff2') format('woff2'),
        url('components/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('components/fonts/poppins-regular-webfont.woff2') format('woff2'),
        url('components/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinssemibold';
    src: url('components/fonts/poppins-semibold-webfont.woff2') format('woff2'),
        url('components/fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #1c78e0;
    color: #0257b8;
    font-family: 'poppinsregular';
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Remove a barra de rolagem horizontal */
}

main {
    background-color: white;
    width: 80%;
    max-width: 1200px;
    padding: 40px;
    margin: 25px 20px 0;
    border-radius: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden; 
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    user-select: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    width: 100%;
    margin-top: -35px;
}

#title {
    flex-direction: column;
    line-height: 15px;
    font-size: 1.7em;
}

a {
    text-decoration: none;
    font-size: 1.08em;
    font-family: 'poppinssemibold';
    display: inline-block;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

a:hover {
    color: #000716;
    transform: scale(1.07); 
}

li {
    color: inherit;
    display: inline-block;
    margin: 7px;
}

#ini {
    border: 2px solid #000716;
    padding: 10px;
    border-radius: 12px;
}

#ini:hover {
    color: white;
    background-color: #0257b8;
}

h1 {
    font-weight: 600;
    text-align: end;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    flex-grow: 1;
}

aside {
    background-color: #1a72d669;
    flex: 1;
    margin-top: -25px;
    margin-right: 20px;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-family: 'poppinsmedium';
    line-height: 15px;
    text-align: center;
    font-size: 1.8em;
}

span {
    color: #000716;
}

article {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

p {
    line-height: 1.5;
    font-family: 'poppinslight';
    text-align: justify;
    font-size: 1.09em;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
}

form input[type="submit"] {
    height: 50px;
    background-color: #0257b8;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    width: 60%;
}

form input[type="submit"]:hover {
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 1.08em;
}

footer {
    background-color: #1c78e0;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-family: 'poppinsregular';
}
